<CiscoIPPhoneMenu>
<Title>Corporate Phone Directory</Title>
<Prompt>Choose an option...</Prompt>
<MenuItem>
<Name>Browse Directory</Name>
<URL>http://YOURIPHERE/directory/spadir.php</URL>
</MenuItem>
<MenuItem>
<Name>Search Directory</Name>
<URL>http://YOURIPHERE/directory/spadirsearch.xml</URL>
</MenuItem>
</CiscoIPPhoneMenu>
